@font-face {
    font-family: harry ;
    src: url(HarryP-MVZ6w.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.heading{
    color: black;
    font-family: harry;
    font-size: 3vw;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}
.text-faq{
    color: black;
    font-size: 2rem;
    font-weight: 800;
    font-family: fantasy;
    text-align: center;

}
.accordian{
    color: black;
    margin-left: 9vw;
    width: 100%;
    max-width: 750px;
    align-items: center;
    margin-bottom: 0;
    font-family: fantasy;
    font-weight: 400;

}
.accordian li{
    list-style: none;
    width: 81vw;
    padding: 20px;
    align-items: center;
}
.accordian li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 500;
    background: rgb(99, 99, 99);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
.accordian .content{
    background: rgb(99, 99, 99);
    margin: 0;
    font-size: 27px;
    text-align: center;
    padding: 0px 4px;
    max-height: 0;
    overflow: hidden;
    font-weight: 400;
    transition: max-height 0.5s,padding 0.5s;
    
}
.accordian input[type="radio"]{
    display: none;
}
.accordian input[type="radio"]:checked + label + .content{
    max-height: fit-content;
    padding: 30px 20px;
}
.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
} 